/* To remove margin while generating PDF. */
* {
    margin:0;
    padding:0
}
body {
    margin: 0;
    height: 8.27in;
    width: 11.69in;
    background-image: url('images/certificate-bg.jpg');
    background-size: 8.27in 11.69in;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: cover; */
}
.name {
    font-family: 'dancing-scripts';
    font-size: .8in;
    line-height: .44in;
    font-weight: 500;
    color: #004479;
    width: 4in;
    margin-top: 4.5in;
    margin-left: 5in;
}